body {
    font-family: Arial, sans-serif;
    background-color: lightskyblue;
    opacity: 0.9;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    
}

.product {
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid purple;
}

.cart {
    flex: 1;
    border: 1px solid lightcoral;
    padding: 10px;
}

header {
    background-color: lightpink;
    padding: 20px 0;
    text-align: center;
    text-emphasis-color: deeppink;
}

img{
    border-radius: 8px;
    border: 1px solid purple;
    padding: 5px;
    width: 200px;
    height: 200px;

}