body {
    font-family: Arial, sans-serif;
    background-color: #ffc2d1;
    opacity: 0.9;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    
}

.product {
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ff8fab;
}

.cart {
    flex: 1;
    border: 1px solid #ffc2d1;
    padding: 10px;
}

header {
    background-color: #fb6f92;
    padding: 20px 0;
    text-align: center;
    text-emphasis-color: #ffe5ec;
}

img{
    border-radius: 8px;
    border: 1px solid #ffe5ec;
    padding: 5px;
    width: 200px;
    height: 200px;

}
/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the navigation bar */
header {
  background-color: #f8f9fa;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff7eb9;
}






#movingImage {
    position: center;
    top: 50;
    left: 0;
    height:550px;
    width: 750px;
}
